Repository bounswe/2021SpringGroup4, pull requests merged in 2021-12, with the labels that each got.

#163 Activity stream handler for events
  code/backend/activity_handler/__init__.py
  code/backend/activity_handler/admin.py
  code/backend/activity_handler/apps.py
  code/backend/activity_handler/handlers.py
  code/backend/activity_handler/migrations/0001_initial.py
  code/backend/activity_handler/migrations/0002_auto_20211130_1308.py
  code/backend/activity_handler/migrations/__init__.py
  code/backend/activity_handler/models.py
  code/backend/activity_handler/serializers.py
  code/backend/activity_handler/tests.py
  code/backend/activity_handler/urls.py
  code/backend/activity_handler/views.py
  code/backend/api/events/comment_views.py
  code/backend/api/events/migrations/0002_auto_20211127_1539.py
  code/backend/api/events/migrations/0003_alter_comment_parent.py
  code/backend/api/events/migrations/0004_alter_comment_parent.py
  code/backend/api/events/models.py
  code/backend/api/events/serializers.py
  code/backend/api/events/urls.py
  code/backend/api/events/views.py
  code/backend/core/settings.py
  code/backend/core/urls.py
  code/backend/requirements.txt
Labels: Backend

#154 Reactyigit merge to reactfrontend
  code/frontend/package-lock.json
  code/frontend/package.json
  code/frontend/public/index.html
  code/frontend/src/App.css
  code/frontend/src/App.js
  code/frontend/src/components/EventList.css
  code/frontend/src/components/EventList.js
  code/frontend/src/components/Header.js
  code/frontend/src/components/Modal.css
  code/frontend/src/components/Modal.js
  code/frontend/src/context/AuthContext.js
  code/frontend/src/pages/CreateEvent.js
  code/frontend/src/pages/Equipment.js
  code/frontend/src/pages/EquipmentList.js
  code/frontend/src/pages/EventCreator.js
  code/frontend/src/pages/EventSearch.js
  code/frontend/src/pages/EventSucces.js
  code/frontend/src/pages/Events.js
  code/frontend/src/pages/Home.js
  code/frontend/src/pages/Home2.js
  code/frontend/src/pages/HomePage.js
  code/frontend/src/pages/Login.js
  code/frontend/src/pages/LoginPage.js
  code/frontend/src/pages/Register.js
  code/frontend/src/pages/RegisterForm.js
  code/frontend/src/pages/RegisteredUser.js
  code/frontend/src/pages/SearchEvents.js
  code/frontend/src/utils/PrivateRoute.js
Labels: Frontend

#177 Android dev ece
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/sportshub/backend_connection/event/EventAPIConnection.java
  app/src/main/java/com/example/sportshub/backend_connection/event/EventModel.kt
  app/src/main/java/com/example/sportshub/backend_connection/event/SearchEventModel.kt
  app/src/main/java/com/example/sportshub/backend_connection/event/SportTypeModel.kt
  app/src/main/java/com/example/sportshub/backend_connection/login_register/LoginRegisterAPIConnection.java
  app/src/main/java/com/example/sportshub/ui/event/EventAdapter.kt
  app/src/main/java/com/example/sportshub/ui/event/EventFragment.kt
  app/src/main/java/com/example/sportshub/ui/event/EventListListener.kt
  app/src/main/java/com/example/sportshub/ui/event/EventViewModel.kt
  app/src/main/java/com/example/sportshub/ui/login/LoginFragment.kt
  app/src/main/java/com/example/sportshub/ui/login/LoginListener.kt
  app/src/main/java/com/example/sportshub/ui/login/LoginViewModel.kt
  app/src/main/java/com/example/sportshub/ui/login/LoginWievModel.kt
  app/src/main/java/com/example/sportshub/ui/login/RegisterFragment.kt
  app/src/main/java/com/example/sportshub/ui/login/RegisterListener.kt
  app/src/main/java/com/example/sportshub/ui/login/RegisterViewModel.kt
  app/src/main/res/font/adamina.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/event_item.xml
  app/src/main/res/layout/fragment_event.xml
  app/src/main/res/values/font_certs.xml
  app/src/main/res/values/preloaded_fonts.xml
Labels: Priority: High, Type: Bug, Android

#181 implemented badges
  code/backend/api/authentication/migrations/0002_user_profile_picture.py
  code/backend/api/authentication/models.py
  code/backend/api/badges/__init__.py
  code/backend/api/badges/admin.py
  code/backend/api/badges/apps.py
  code/backend/api/badges/migrations/0001_initial.py
  code/backend/api/badges/migrations/__init__.py
  code/backend/api/badges/models.py
  code/backend/api/badges/serializers.py
  code/backend/api/badges/tests.py
  code/backend/api/badges/urls.py
  code/backend/api/badges/views.py
  code/backend/api/events/migrations/0005_auto_20211210_1814.py
  code/backend/api/events/models.py
  code/backend/api/events/serializers.py
  code/backend/api/events/views.py
  code/backend/api/profiles/serializers.py
Labels: Backend

#187 Apply event functionality
  app/src/main/java/com/example/sportshub/SingletonRequestQueueProvider.kt
  app/src/main/java/com/example/sportshub/event/ApplyEventListener.kt
  app/src/main/java/com/example/sportshub/event/EventDetailFragment.kt
  app/src/main/java/com/example/sportshub/event/EventDetailViewModel.kt
  app/src/main/res/layout/event_detail_fragment.xml
Labels: enhancement, Priority: High, Android

#197 Android dev ece
  app/src/main/java/com/example/sportshub/event/CreateEventListener.kt
  app/src/main/java/com/example/sportshub/event/CreateEventMapFragment.kt
  app/src/main/java/com/example/sportshub/event/EventCreateFragment.kt
  app/src/main/java/com/example/sportshub/event/EventCreateViewModel.kt
  app/src/main/java/com/example/sportshub/event/EventDetailFragment.kt
  app/src/main/java/com/example/sportshub/event/model/CreateEventRequestModel.kt
  app/src/main/res/layout/event_detail_fragment.xml
  app/src/main/res/layout/event_item.xml
  app/src/main/res/navigation/mobile_navigation.xml
Labels: enhancement, Android

#201 Frontend userpage merge
  code/frontend/package-lock.json
  code/frontend/package.json
  code/frontend/public/profile.png
  code/frontend/src/App.js
  code/frontend/src/components/File.js
  code/frontend/src/components/Header.js
  code/frontend/src/components/Maps.js
  code/frontend/src/components/UploadFile.js
  code/frontend/src/components/UserGeolocation.js
  code/frontend/src/context/AuthContext.js
  code/frontend/src/data/eventdata.json
  code/frontend/src/design/Image.css
  code/frontend/src/pages/Contact.js
  code/frontend/src/pages/EditUserProfile.js
  code/frontend/src/pages/EquipmentList.js
  code/frontend/src/pages/EventCreator.js
  code/frontend/src/pages/EventSucces.js
  code/frontend/src/pages/Events.js
  code/frontend/src/pages/Home.js
  code/frontend/src/pages/HomePage.js
  code/frontend/src/pages/RegisterForm.js
  code/frontend/src/pages/UserProfile.js
  code/frontend/src/pages/UserProfilePage.js
Labels: Frontend

#213 fixed event update bug
  code/backend/api/events/serializers.py
Labels: Priority: High, Status: Completed

#212 Android dev ece
  app/src/main/java/com/example/sportshub/event/AddCommentListener.kt
  app/src/main/java/com/example/sportshub/event/CommentAdapter.kt
  app/src/main/java/com/example/sportshub/event/CreateEventMapFragment.kt
  app/src/main/java/com/example/sportshub/event/DeleteEventListener.kt
  app/src/main/java/com/example/sportshub/event/EventCreateFragment.kt
  app/src/main/java/com/example/sportshub/event/EventDetailFragment.kt
  app/src/main/java/com/example/sportshub/event/EventDetailViewModel.kt
  app/src/main/java/com/example/sportshub/event/EventUpdateFragment.kt
  app/src/main/java/com/example/sportshub/event/EventUpdateViewModel.kt
  app/src/main/java/com/example/sportshub/event/SharedViewModel.kt
  app/src/main/java/com/example/sportshub/event/UpdateEventListener.kt
  app/src/main/java/com/example/sportshub/event/model/CommentModel.kt
  app/src/main/java/com/example/sportshub/event/model/CreateEventRequestModel.kt
  app/src/main/java/com/example/sportshub/event/model/EventModel.kt
  app/src/main/res/layout/comment_item.xml
  app/src/main/res/layout/event_detail_fragment.xml
  app/src/main/res/layout/event_update_fragment.xml
  app/src/main/res/navigation/mobile_navigation.xml
Labels: Priority: Medium, Type: Development, Android
